<!DOCTYPE html>
<html>
  <head>
    <title>QT-Google-Assistant</title>
    <meta charset="UTF-8" />
    <script src="https://qtlearncodelab.github.io/qtpi-shared/qad/js/releases/latest/p5.min.js"></script>
    <script src="https://qtlearncodelab.github.io/qtpi-shared/qad/js/releases/latest/socket.io.js"></script>
    <script src="https://qtlearncodelab.github.io/qtpi-shared/qad/js/releases/latest/qad.min.js"></script>
    <script
      defer
      src="https://qtlearncodelab.github.io/qtpi-shared/qtwc/js/releases/latest/qtwc.js"
    ></script>
    <link rel="stylesheet" href="src/styles.css" />
    <script defer src="src/index.js"></script>
  </head>
  <body>
    <qt-gv
      id="gvled1"
      ccs="false"
      url="https://io.adafruit.com/api/v2/Dnesh/feeds/led"
    ></qt-gv>
    <qt-led
      id="led1"
      pin="10"
      board-type="VEDA"
      board-name="veda-1"
      ccs="false"
      width="50"
      rotate="180"
    ></qt-led>
    <qt-board
      id="board"
      ccs="true"
      board-name="veda-1"
      board-type="veda"
      com-port="COM14"
      state="on"
    ></qt-board>
  </body>
</html>
