<!DOCTYPE html>
<html>
  <head>
    <title>Qt-Limitswitch</title>
    <meta charset="UTF-8" />
    <script src="https://qtlearncodelab.github.io/qtpi-shared/qad/js/releases/latest/p5.min.js"></script>
    <script src="https://qtlearncodelab.github.io/qtpi-shared/qad/js/releases/latest/socket.io.js"></script>
    <script src="https://qtlearncodelab.github.io/qtpi-shared/qad/js/releases/latest/qad.min.js"></script>
    <script
      defer
      src="https://qtlearncodelab.github.io/qtpi-shared/qtwc/js/releases/latest/qtwc.js"
    ></script>
  </head>

  <body>
    <qt-limitswitch></qt-limitswitch>

    <script src="src/index.js"></script>
  </body>
</html>
